.paramsContainer {
   .weatherParam {
     display: flex;
     justify-content: space-between;
     margin-bottom: 16px;
     border-bottom: 1px solid var(--gray-light);
     padding-bottom: 12px;
     &:last-child {
       margin-bottom: 0;
     }
   }
  .updateInfo {
    display: flex;
    justify-content: end;
    color: var(--gray-light-1);
  }
}